
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    
  </h1>
  </div>
  <div class="row">
    <div class="col-md-3">
   <ul>
   
      
      <li><a [routerLink] = "['/list']">List 1</a></li>
     
      <li><a [routerLink] = "['/list2']">List 2</a></li>
      <li><a [routerLink] = "['/list3']">List 3</a></li>
   
    </ul>
    </div>
   Two Way binding: <input [(ngModel)]='name' />
    <p> {{name}}</p>  
 
     </div>
        <router-outlet></router-outlet> 
        
<!--     
        <div>{{value}}</div>-->