<div style="display: flex;
flex-direction: column; padding:10Px">
    <mat-card>
        <form #form1="ngForm">
            <mat-form-field>
                <input id="id" name="id" [(ngModel)]="id" matInput placeholder="Enter Id">
                <!-- <input matInput placeholder="Enter Name"> -->
            </mat-form-field>
            <br>
            <mat-form-field>
                <input id="name" [(ngModel)]="name" name="name" matInput placeholder="Enter Name">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input id="email" type="email" [(ngModel)]="email" name="email" matInput placeholder="Enter Email">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input id="password" name="password" [(ngModel)]="password" type="password" matInput placeholder="Enter Password">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input id="Desination" [(ngModel)]="Desination" name="Desination" matInput placeholder="Enter designation">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input id="date" matInput placeholder="Enter Date" name="date" [(ngModel)]="date">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input id="date1" matInput [matDatepicker]="picker" id="date1" name="date1" [(ngModel)]="date1" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <a mat-stroked-button routerLink="." (click)="fun();form1.reset()">Submit</a>
        </form>
    </mat-card>
</div>


<my-app8></my-app8>