.container {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    width: 100% !important;
    height: 115px;
    align-content: flex-start;
  }

  .item{
    padding-bottom: 10px;
    padding-left: 10px;
    
  }
  .item:hover{
    cursor: pointer;
  }
  .success {
    border-color:white;
    color: green;
  }
  
  .success:hover {
    background-color: #4CAF50;
    color: white;
  }
  .btn {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  .pad{
    padding-top: 20px;
    padding-bottom:20px;
  }