<div class="pad">
        <span class='item' *ngFor="let name of finder"  ><button class="btn success" (click)="toolFinder($event,name)"name="{{name}}"> {{name}}</button></span>
</div>



<button class="btn success" (click)="loadImage()">Load Image</button>
<br>
<canvas  id="myCanvas" resize style=" outline: black 3px solid;" ></canvas>
<canvas  id="myCanvas1" resize style=" outline: black 3px solid;"></canvas>
<canvas  id="myCanvas2" resize style=" outline: black 3px solid;"></canvas>

<div id= "images" [style.display] = "'none'"  ></div>
<div> </div>